.cv-embed {
  width: 100%;
  height: 85vh;
  margin: 1em 0;
}

.cv-embed iframe {
  width: 100%;
  height: 100%;
  border: 1px solid #ebecec;
  border-radius: 6px;
}

@media screen and (max-width: 600px) {
  .cv-embed {
    height: 70vh;
  }
}
